package components

templ AddTodoButton() {
	<button
 		id="add-todo-button"
 		type="button"
 		class="bg-green-200 hover:opacity-50 p-3 rounded-2xl border border-black border-solid w-full"
	>
		Add TODO
	</button>
}
